doctype html
html(class="no-js" lang="")
  head
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    title= title
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/h5bp/apple-touch-icon.png">
    <link rel="stylesheet" href="/h5bp/css/normalize.css">
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    block css
    <script src="/h5bp/js/vendor/modernizr-2.8.3.min.js"></script>
  body
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    block content

    script(src="/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")

